@import './ui/ui-unique/variables.css';
@import './styles/shell.css';
@import './styles/ui.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-theme-sans);
  letter-spacing: -0.5px;
  color: var(--dark);
  background: var(--background);
}

#root {
  max-width: none;
  margin: 0;
}
